<%= render "shared/errors" %>

<% action = (user.persisted? ? user_url(user) : users_url) %>
<% method = (user.persisted? ? :patch : :post) %>

<form action="<%= action %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>">
  <input
    type = "hidden"
    name = "authenticity_token"
    value="<%= form_authenticity_token %>">

  <h1> Signup </h1>
  <label for="user_name">Username</label>
  <input
    type="text"
    name="user[user_name]"
    id="user_name"
    value="<%= @user.user_name if @user%>">
    <br>

  <label for="password">Password</label>
  <input
    type="password"
    name="user[password]"
    id="user_password">
  <br>

  <% submit_text = (user.persisted? ? 'Update' : 'Create') %>
  <input type="submit" value="<%= submit_text %>">
</form>
